/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   custom styles
   ========================================================================== */
body {
    font-family: "museo-sans",sans-serif;
    }


h1 {
    text-transform:uppercase;
    }

h3 {
    text-align: center;
    font-size: 3.4em;
    text-transform: uppercase;
    color: #3F84BA;;
}

.text {
    text-align: center;
}


/* #nav bar */
#nav {
    margin: 5px 0;
    width: 95%;
}

ul {
    float:right;
    list-style-type: none;
}

ul li {
    float: left;
    padding: 0 15px;
    text-transform: uppercase;
}

ul li.last {
    padding-right: 0;
}

ul li a{
    text-decoration: none;
    color: #3F84BA;;
}

ul li a:hover{
    text-decoration: none;
    color: #F26423;
}

#logo {
    float: left;
}

/* #header */
#header {
    background-image:url('../../img/header-right.png');
    background-color: #3F84BA;
    background-position: right;
    background-repeat: no-repeat;
    height: 700px;
}

h1, h2 {
    color: white;
}

h1 {
margin-top: 150px;
font-size: 5em;
line-height: 1.1em;
margin-bottom: 10px;
font-weight: 300;
}

#header hr {
    border-color: white;
    border-width: 2px;
    width: 320px
}

h2 {
    font-weight: 300;
    font-size: 1.7em;
}

/* #work */
#work h3 {
    margin-bottom: 15px;
    line-height: 1.2em;
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 18px;
    }

#work hr {
    border-width: 2px;
    display: none;
}

#work p {
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}

#work p#endstatement {
    margin-bottom: 50px;
margin-top: 30px;
}

#work img {
    width: 100%;
    margin-bottom: 2em;
}


/* #team */
#team {
    background-color: #3F84BA;
    color: white;
    padding-bottom: 50px;
}

#team h3 {
    color: white;
    border-bottom: 2px solid;
    display: inline-block;
    padding-bottom: 18px;
}

#team h4 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 8px;
}

#team p {
    font-style: normal;
    font-size: 1.0em;
}

.bio {
    margin-bottom: 15px;
}

.bio-inner {
    padding: 0px 10px;
}

.bio img {
    max-width: 100px;
    float:left;
    padding-right: 20px;
}

/* #contact */
#contact {
    background-image:url('../../img/contact-right.png');
    background-color: white;
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 500px;
}

#contact h3 {
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    margin-bottom: 25px;
}

#contact p {
    font-size: 1.2em;

}
input {
    font-family: "museo-sans",sans-serif;
}
input[type="text"],textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

input[type="submit"]{
    background-color: #F26423;
    border: 0;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    height: 34px;
    font-size: 1.3em;
}

/* #bottomnav */
#bottomnav {
    background-color: #3F84BA;
    color: white;
    font-size: 0.8em;
    padding: 24px
}

#preview-video {
    background-color: #efefef;
}

.preview-page .grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
}

.preview-page #nav {
    width: 98%;
}

hr {
    border-color: #3F84BA;
    margin-bottom: 10px;
    border-width: 60px;
    margin-top: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/******* image bullshit ********/

.recentFeature {
    position: relative;
}

.featureOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(219, 127, 48, 0.7);
    padding: 1em;
    overflow: hidden;
}

.featureOverlay p {
    text-align: center;
    font-family: 'din-condensed-web',sans-serif;
    font-size: 2em;
}

.recentFeature:hover .featureOverlay {
    display: inline-block;
    color: white;
}

/* inline block headers */

.inner {
  display: inline-block;
  line-height: normal; /* Reset line-height for the child. */
}

.block4 {
  text-align: center;
}

